.login-form {
  background-color: rgb(0, 21, 41);
  width: 30vw;
  padding: 20px;
  border-radius: 20px;
}

.login-header {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.ant-input-affix-wrapper > input.ant-input {
  background: transparent;
  color: black;
}

.buttons > * > * > * > .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}
